<header class="message-header flexrow">
    <h4>{{localize "NONEX_IST_OD6S.OPPOSED_ROLL"}}</h4>
    <span class="message-metadata">
          <time class="message-timestamp">{{timeSince message.timestamp}}</time>
        {{#if user.isGM}}
            <a class="button message-delete" data-action="deleteMessage" title="{{localize "NONEX_IST_OD6S.DELETE"}}" role="button" tabindex="0" aria-label="{{localize "NONEX_IST_OD6S.DELETE"}}"><i class="fas fa-trash" aria-hidden="true"></i></a>
        {{/if}}
      </span>
    {{#if message.flavor}}
        <span class="flavor-text">{{{message.flavor}}}</span>
    {{/if}}
</header>
<div class="message-content">
    {{{message.content}}}
</div>